# OpenTofu / Terraform
# (.terraform.lock.hcl SI se commitea: fija versiones de providers)
opentofu/.terraform/
opentofu/*.tfstate
opentofu/*.tfstate.*
opentofu/terraform.tfvars
opentofu/*.auto.tfvars
opentofu/crash.log

# Ansible
ansible/**/vault.yml
!ansible/**/vault.yml.example
*.retry

# General
.DS_Store
